################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/mvcProyectoWeb - 02 - Practica 4/.vs/mvcProyectoWeb/FileContentIndex
